Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		   xmlns="http://venus.sod.asu.edu/WSRepository/xml" 
		   targetNamespace="http://venus.sod.asu.edu/WSRepository/xml" elementFormDefault="qualified" 
		   attributeFormDefault="unqualified">
	<xsd:element name="Hotels">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Hotel" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xs:string"/>
							<xsd:element name="Phone" minOccurs="1" maxOccurs="unbounded">
								<xsd:simpleType>
									<xsd:restriction base="xs:string">
										<xsd:pattern value="\d{3}\-\d{3} \d{4}"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Address">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Number" type="xs:int"/>
										<xsd:element name="Street" type="xs:string"/>
										<xsd:element name="City" type="xs:string"/>
										<xsd:element name="State" type="xs:string"/>
										<xsd:element name="Zip" type="xs:int"/>
									</xsd:sequence>
									<xsd:attribute name="NearestAirport" type="xs:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Rating" type="xs:double" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
